<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.guiguan.Uni-Call</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>10E473C7-EBC3-4886-BDB0-C43072A6BC69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46DA4F61-CD20-463C-8744-4D83DF7DB7A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4BFCA6E8-65B9-4A44-9550-75E7319D88D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5F02C46-B0CD-4244-86B8-7302D9CFAE57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>674DE779-72F5-4632-932B-FD1404CBE0FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6BEDF161-D38D-4368-83ED-F2319AD5F378</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC05FE9F-78E8-4433-BBC3-7A5E91FC8398</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7016D8DA-6748-4E96-BDA2-FBF05F0BAD5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>824B81E3-2C65-454B-86A7-033401A2223F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>837858F2-B0C0-4662-A51C-DD4135810516</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8438508E-6D47-4FC1-A425-FE03159E7D1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A100DD1C-5504-4743-A78F-26547DA94CA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C35996F3-5CF7-4B64-9690-3D12C42A585D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D635F69F-C7A5-49ED-8D7D-900627932693</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DCE03DF2-CD83-4F89-BB02-3AEC8A6F7FEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DD5A46E8-58B2-4349-B8F0-6093A63E607F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AF3E531-0CB1-4436-89D5-2B1E917D6181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2DECCAB-CDD2-459E-BACC-9FBD1CAB69EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBF12C22-27A5-45EE-B85A-43351DD46562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Guan Gui</string>
	<key>description</key>
	<string>Type in your Alfred: 'call -' or 'call --' for options; 'call --enable/disable/reorder' for controlling call components</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Uni Call</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>callw</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./bin/Uni\ Call\ Basestation -w "{query}"</string>
				<key>subtext</key>
				<string>Send Message to your contact via WeChat</string>
				<key>title</key>
				<string>WeChat Call</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2DECCAB-CDD2-459E-BACC-9FBD1CAB69EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bin/callinitiator.bash "[CTWeChat]{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46DA4F61-CD20-463C-8744-4D83DF7DB7A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>WeChat Call</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>10E473C7-EBC3-4886-BDB0-C43072A6BC69</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>calls</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./bin/Uni\ Call\ Basestation -s "{query}"</string>
				<key>subtext</key>
				<string>Make a Skype call to your contact</string>
				<key>title</key>
				<string>Skype Call</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7016D8DA-6748-4E96-BDA2-FBF05F0BAD5B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bin/callinitiator.bash "[CTSkype]{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>837858F2-B0C0-4662-A51C-DD4135810516</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>Skype Call</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>824B81E3-2C65-454B-86A7-033401A2223F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>callf</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./bin/Uni\ Call\ Basestation -f "{query}"</string>
				<key>subtext</key>
				<string>Make a FaceTime call to your contact</string>
				<key>title</key>
				<string>FaceTime Call</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>674DE779-72F5-4632-932B-FD1404CBE0FA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>FaceTime Call</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>4BFCA6E8-65B9-4A44-9550-75E7319D88D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bin/callinitiator.bash "[CTFaceTime]{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5F02C46-B0CD-4244-86B8-7302D9CFAE57</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>callh</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./bin/Uni\ Call\ Basestation -h "{query}"</string>
				<key>subtext</key>
				<string>Make a phone call to your contact via iPhone (Yosemite Handoff)</string>
				<key>title</key>
				<string>iPhone Call</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C35996F3-5CF7-4B64-9690-3D12C42A585D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bin/callinitiator.bash "[CTIPhone]{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC05FE9F-78E8-4433-BBC3-7A5E91FC8398</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>iPhone Call</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>6BEDF161-D38D-4368-83ED-F2319AD5F378</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>callm</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./bin/Uni\ Call\ Basestation -m "{query}"</string>
				<key>subtext</key>
				<string>Send Message to your contact via Messages</string>
				<key>title</key>
				<string>Messages Call</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DCE03DF2-CD83-4F89-BB02-3AEC8A6F7FEB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>Messages Call</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>DD5A46E8-58B2-4349-B8F0-6093A63E607F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bin/callinitiator.bash "[CTMessages]{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0AF3E531-0CB1-4436-89D5-2B1E917D6181</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>call</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./bin/Uni\ Call\ Basestation "{query}"</string>
				<key>subtext</key>
				<string>Lay out all default call options for your contact</string>
				<key>title</key>
				<string>Uni Call</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D635F69F-C7A5-49ED-8D7D-900627932693</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>audio</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./bin/Uni\ Call\ Basestation -_ "{query}"</string>
				<key>subtext</key>
				<string>Lay out all audio call options for your contact</string>
				<key>title</key>
				<string>Uni Call</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBF12C22-27A5-45EE-B85A-43351DD46562</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bin/callinitiator.bash "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>video</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./bin/Uni\ Call\ Basestation -+ "{query}"</string>
				<key>subtext</key>
				<string>Lay out all possible video call options for your contact</string>
				<key>title</key>
				<string>Uni Call</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8438508E-6D47-4FC1-A425-FE03159E7D1E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>text</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./bin/Uni\ Call\ Basestation -= "{query}"</string>
				<key>subtext</key>
				<string>Lay out all possible text options for your contact</string>
				<key>title</key>
				<string>Uni Call</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A100DD1C-5504-4743-A78F-26547DA94CA7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>+———————————————————————————————————————————————————————————————+
| The missing universal audio, video call and text workflow for |
| Alfred                                                        |
+———————————————————————————————————————————————————————————————+

Thanks for using Uni Call. Please visit the official project page (http://unicall.guiguan.net) for news, documentations and source code.</string>
	<key>uidata</key>
	<dict>
		<key>0AF3E531-0CB1-4436-89D5-2B1E917D6181</key>
		<dict>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>10E473C7-EBC3-4886-BDB0-C43072A6BC69</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>1700</real>
		</dict>
		<key>46DA4F61-CD20-463C-8744-4D83DF7DB7A1</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>4BFCA6E8-65B9-4A44-9550-75E7319D88D1</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>674DE779-72F5-4632-932B-FD1404CBE0FA</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>6BEDF161-D38D-4368-83ED-F2319AD5F378</key>
		<dict>
			<key>ypos</key>
			<real>1340</real>
		</dict>
		<key>7016D8DA-6748-4E96-BDA2-FBF05F0BAD5B</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>824B81E3-2C65-454B-86A7-033401A2223F</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>837858F2-B0C0-4662-A51C-DD4135810516</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>8438508E-6D47-4FC1-A425-FE03159E7D1E</key>
		<dict>
			<key>ypos</key>
			<real>1750</real>
		</dict>
		<key>A100DD1C-5504-4743-A78F-26547DA94CA7</key>
		<dict>
			<key>ypos</key>
			<real>1850</real>
		</dict>
		<key>C35996F3-5CF7-4B64-9690-3D12C42A585D</key>
		<dict>
			<key>ypos</key>
			<real>1280</real>
		</dict>
		<key>D635F69F-C7A5-49ED-8D7D-900627932693</key>
		<dict>
			<key>ypos</key>
			<real>1550</real>
		</dict>
		<key>DCE03DF2-CD83-4F89-BB02-3AEC8A6F7FEB</key>
		<dict>
			<key>ypos</key>
			<real>1400</real>
		</dict>
		<key>DD5A46E8-58B2-4349-B8F0-6093A63E607F</key>
		<dict>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>E2DECCAB-CDD2-459E-BACC-9FBD1CAB69EA</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>EBF12C22-27A5-45EE-B85A-43351DD46562</key>
		<dict>
			<key>ypos</key>
			<real>1650</real>
		</dict>
		<key>F5F02C46-B0CD-4244-86B8-7302D9CFAE57</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>FC05FE9F-78E8-4433-BBC3-7A5E91FC8398</key>
		<dict>
			<key>ypos</key>
			<real>1340</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://unicall.guiguan.net</string>
</dict>
</plist>
